[submodule "fl_typing"]
	path = fl_typing
	url = https://github.com/MiguelGuthridge/fl_typing.git
[submodule "src/fl_param_checker"]
	path = src/fl_param_checker
	url = https://github.com/MiguelGuthridge/fl_param_checker.git
[submodule "src/fl_typing"]
	path = src/fl_typing
	url = https://github.com/MiguelGuthridge/fl_typing.git
